node_modules
.next
out
build
dist
.git
.gitignore
.DS_Store
*.md
.env*
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
.vscode
public/uploads/*
!public/uploads/data.txt
public/gallery/*
!public/gallery/data.txt
